/******* 
fonts 
*******/

/* title */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
/* font-family: "Edu Tas Beginner", sans-serif; */

/* date */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* font-family: "Sometype Mono", monospace; */


/******* 
reset 
*******/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* 
common 
*******/

body {

    background-image: url(/img/cork.png);
}

.hidden-element {

    display: none !important;
}

/* card */
.card {

    background-color: #fff;
    width: 300px;
    padding: 15px;
    position: relative;
    box-shadow: 5px 5px 30px;
}

.card p {

    font-family: "Edu Tas Beginner", sans-serif;
    margin-bottom: 10px;
}

.container-image {

    width: 265px;
    height: 265px;
    margin-bottom: 20px;
    justify-self: center;
}

.container-image img {
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pin-card {

    position: absolute;
    top: -10px;
    left: 50%;
    translate: -50% 0;
}

/******* 
header 
*******/

/* title */
h1 {

    font-family: "Edu Tas Beginner", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

.title-box {

    background-image: url(/img/wall.png);
    padding: 30px;
}

/******* 
main 
*******/

/* card container */
.card-container {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 200px 0;
    justify-content: center;
}

/* error message */
#error-msg {

    font-size: 40px;
    background-color: #cf2f13;
    padding: 20px;
    border-radius: 15px;
}

/******* 
overlay 
*******/

.box-overlay {

    height: 100%;
    width: 100%;
    background-color: rgba(76, 75, 75, 0.7);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-overlay-img {

    width: 600px;
    height: 600px;
    background-color: purple;
    margin-top: 40px;
}

#btn-close {

    width: 90px;
    height: 40px;
    font-size: 20px;
    margin-top: 15px;
}